[info][title]Push event at {{.Repository.Name}}[/title]URL: {{.Repository.URL}}
Ref: {{.Ref}}
CompareURL: {{.Compare}}
GitHub-User: {{.Pusher.Name}}
  {{- range $_, $c := .Commits -}}
    [info][title]{{- $c.Message -}}[/title]URL: {{ $c.URL -}}
    [hr]
    {{- if ne (len $c.Added) 0 -}}
      Added:[code]
      {{- range $_, $a := $c.Added -}}
        {{ $a }}
      {{- end -}}
      [/code]
    {{- end -}}
    {{- if ne (len $c.Modified) 0 -}}
      Modified:[code]
      {{- range $_, $m := $c.Modified -}}
        {{ $m }}
      {{- end -}}
      [/code]
    {{- end }}
    {{- if ne (len $c.Removed) 0 -}}
      Removed:[code]
      {{- range $_, $r := $c.Removed -}}
        {{ $r }}
      {{- end -}}
      [/code]
    {{- end -}}
    [/info] 
  {{- end -}}
[/info]
